#body{
    background: #f6f0e0;
    padding-top: 0.1rem;
    padding-bottom: 10rem;
}

h1 {
	font-size: 2.20rem;
}

h2 {
	font-size: 1.50rem;
}

h3 {
	font-size: 1.10rem;
}

h4 {
	font-size: 0.75rem;
}

h5 {
	font-size: 0.35rem;
}

h6 {
	font-size: 0.15rem;
}

a{
    color: #7E5E3F;
}

a:hover {
    color: #7F7366;
}

.centeredImage p img{
    display: block;
    margin: auto;
}

.grav-lightslider{
    padding-top: 5rem;
}

#header.scrolled #logo h3 {
    color: #444 !important;
    font-size: 0.95rem !important;
}

@media all and (max-width: 1280px) and (min-width: 1060px) {
    #header #logo h3 a{
        font-size: 1.4rem;
    }
}

@media all and (max-width: 1059px) and (min-width: 1020px) {
    #header #logo h3 a{
        font-size: 1.2rem;
    }
}

/*@media all and (max-width: 1019px) and (min-width: 960px) {
    #header #logo h3 a{
        font-size: 1.0rem;
    }
}*/

/*@media all and (max-width: 1019px) and (min-width: 600px) {
    #header #logo h3 a{
        font-size: 1.0rem;
    }
}*/

@media all and (max-width: 649px) and (min-width: 341px) {
    #header #logo h3 a{
        font-size: 0.9rem;
    }
}

@media all and (max-width: 340px) {
    #header #logo h3 a{
        font-size: 0.65rem;
    }
}

/*.padding-horiz, .fullwidth #header, .fullwidth #breadcrumbs, .fullwidth .blog-header, .fullwidth .blog-content-item, .fullwidth .content-wrapper, .fullwidth ul.pagination, .fullwidth #body > .modular-row, #body, #header, #footer {
    padding-left: 10rem;
    padding-right: 10rem;
}*/

#header #logo h3{
    font-size: 2rem;
    line-height: 2rem;
    margin: 0;
    text-transform: none;
}

#header.scrolled #navbar a:hover{
    color: #CC9866 !important;
}

#footer{
    height: 4rem;
}

#footer .totop{
    bottom: 2.6rem;
}

#footer .totop span {
    font-size: 1.7rem;
    line-height: 2.5rem;
    width: 3rem;
    height: 2rem;
    border-radius: 3px;
    display: inline-block;
    text-align: top;
}

#header.scrolled #navbar a{
    color: #7E5E3F !important;
}

#header.scrolled #navbar a:hover{
    color: #CC9866;
}

#header.scrolled #navbar a:before, #header.scrolled #navbar a:after{
    background-color: #444 !important;
}

#header #navbar ul.navigation li a:before, #header #navbar ul.navigation li a:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: #444;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    -moz-transform: scaleX(0);
    -ms-transform: scaleX(0);
    -o-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

#header #navbar ul.navigation li:hover li.active > a {
    background: #CC9866;
    color: #fff;
}

/*
lightslider plugin
*/

.lSSlideOuter .lSPager.lSpg{
    margin: 0 !important;
    background: #f6f0e0;
}

.lSSlideOuter .lSPager.lSpg > li:hover a, .lSSlideOuter .lSPager.lSpg > li.active a{
    background-color: #7E5E3F !important;
}
