<div id="ts-shop"></div>
                             <script type="text/javascript">
                                 var Ticketscript={};
                                 Ticketscript.Application={
                                     containerId:"ts-shop",
                                     channel:"P38CFKGZ",
                                     eventId:"",
                                     type:"iframe",
                                     language:"de",
                                     width:"500",
                                     height:"650"
                                 };
                             </script>
                             <script type="text/javascript" src="https://shop.ticketscript.com/assets/js/ga-embed.js"></script>
